# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.vsidx
*.vsidx
*.db
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.db
.vs/atcoder/FileContentIndex/47a49ed8-72d3-425a-96ab-ac8978102633.vsidx
.vs/atcoder/FileContentIndex/f961bb1d-0b7b-49a4-8ddf-457713d9c8c3.vsidx
.vs/atcoder/v17/Browse.VC.db
